.home,
.services,
.products,
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 90vh;
}

.services {
    background-image: url('../public/images/img-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.products {
    background-image: url('../public/images/img-1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

.sign-up {
    background-image: url('../public/images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
}

@media screen and (max-width: 768px) {
    .services,
    .products,
    .sign-up {
        font-size: 56px;
    }
}